html, body {
	height: 100%;
	margin: 0;
	padding: 0;
  }
  textarea {
	position:absolute;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	border: none;
	resize: none;
	margin: 0;
	padding: 5px;
  }